[Unit]
Description=Travel log backend
After=travel-log-pod.service travel-log-postgres-container.service travel-log-network.service
Requires=travel-log-pod.service travel-log-postgres-container.service travel-log-network.service

[Container]

Build=../backend
ImageTag=travel-log-backend:latest

Exec=npm run dev
EnvironmentFile=/etc/containers/app.env

Volume=postgres-socket:/run/postgres
Pod=travel-log.pod




    