[Unit]
Description=Travel log backend
After= travel-log-postgres.service travel-log-network.service travel-log-postgres-socket-volume.service
Requires= travel-log-postgres.service travel-log-network.service travel-log-postgres-socket-volume.service

[Container]

Image=travel-log-backend

Exec=npm run dev
EnvironmentFile=/etc/containers/travel-log.env

Volume=postgres-socket:/run/postgres
Pod=travel-log.pod




    